<section>
  <div class="page-header">
    <h1>Events</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="event in vm.events"
       ui-sref="events.view({ eventId: event._id })"
       class="list-group-item">
      
      
      <h4 class="list-group-item-heading" ng-bind="event.name"></h4>
      <hr>
      <div ng-bind-html-unsafe="revent.body"></div>
      <hr>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="event.created | date:'mediumDate'"></span>
        by
        <span ng-if="event.user" ng-bind="event.user.displayName"></span>
        <span ng-if="!event.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.events.$resolved && !vm.events.length">
    No Events yet, why don't you <a ui-sref="events.create">create one</a>?
  </div>
</section>
